<section>
  <div>
    <h1>PROFILE</h1>
    <div class="profile">
      <div>
        <label>Name:</label>
        <p>
          {{ user.name }}
        </p>
        <label>Surname:</label>
        <p [ngClass]="{ pEmpty: !user.surname }">
          {{ user.surname }}
        </p>
        <label>Birth date:</label>
        <p [ngClass]="{ pEmpty: !user.birthdate }">
          {{ user.birthdate | date: "dd-MM-yyyy" }}
        </p>
        <label>Phone:</label>
        <p [ngClass]="{ pEmpty: !user.phone }">
          {{ user.phone }}
        </p>
        <label>Nationality:</label>
        <p [ngClass]="{ pEmpty: !user.nationality }">
          {{ user.nationality }}
        </p>
        <label>NIF:</label>
        <p [ngClass]="{ pEmpty: !user.nif }">
          {{ user.nif }}
        </p>
        <label *ngIf="user.isCompany()">Company name:</label>
        <p *ngIf="user.isCompany()" [ngClass]="{ pEmpty: !user.nif }">
          {{ user.companyName }}
        </p>
        <label *ngIf="user.isCompany()">Company description:</label>
        <p
          *ngIf="user.isCompany()"
          [ngClass]="{ pEmpty: !user.companyDescription }"
        >
          {{ user.companyDescription }}
        </p>
        <label *ngIf="user.isCompany()">CIF:</label>
        <p *ngIf="user.isCompany()" [ngClass]="{ pEmpty: !user.cif }">
          {{ user.cif }}
        </p>
        <label>About me:</label>
        <p [ngClass]="{ pEmpty: !user.about }">
          {{ user.about }}
        </p>
        <button (click)="updateProfile()">UPDATE PROFILE</button>
      </div>
    </div>
  </div>
  <div>
    <h1>EDUCATION</h1>
    <div>
      <table class="education">
        <tr>
          <th>TYPE</th>
          <th>LEVEL</th>
          <th>NAME</th>
          <th>UNIVERSITY</th>
          <th>FINISH DATE</th>
          <th>ACTIONS</th>
        </tr>
        <tr *ngFor="let education of educations">
          <td>{{ education.type }}</td>
          <td>{{ education.level }}</td>
          <td>{{ education.name }}</td>
          <td>{{ education.university }}</td>
          <td>{{ education.endDate | date: "dd-MM-yyyy" }}</td>
          <td>
            <a
              routerLink="/education/{{ education.id }}"
              style="color: green; cursor: pointer"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-pencil-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                />
              </svg>
            </a>
            <a
              (click)="deleteEducation(education.id)"
              style="color: red; cursor: pointer"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                />
              </svg>
            </a>
          </td>
        </tr>
      </table>
      <div class="buttonNew">
        <button (click)="newEducation()">NEW EDUCATION</button>
      </div>
    </div>
  </div>
  <div>
    <h1>LANGUAGES</h1>
    <div>
      <table class="languages">
        <tr>
          <th>LEVEL</th>
          <th>LANGUAGE</th>
          <th>FINISH DATE</th>
          <th>ACTIONS</th>
        </tr>
        <tr *ngFor="let language of languages">
          <td>{{ language.level }}</td>
          <td>{{ language.language }}</td>
          <td>{{ language.endDate | date: "dd-MM-yyyy" }}</td>
          <td>
            <a
              routerLink="/languages/{{ language.id }}"
              style="color: green; cursor: pointer"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-pencil-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
                />
              </svg>
            </a>
            <a
              (click)="deleteLanguage(language.id)"
              style="color: red; cursor: pointer"
              ><svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-trash-fill"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"
                />
              </svg>
            </a>
          </td>
        </tr>
      </table>
      <div class="buttonNew">
        <button (click)="newLanguage()">NEW LANGUAGE</button>
      </div>
    </div>
  </div>
</section>

<modal id="modal_1" class="hhidden">
  <div class="dialogImage">
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-exclamation-circle-fill"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      style="color: red"
    >
      <path
        fill-rule="evenodd"
        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"
      />
    </svg>
  </div>

  <p class="dialog">Are you sure you want to delete the selected element?</p>
  <div>
    <button (click)="yes()">Yes</button
    ><button (click)="cancel()">Cancel</button>
  </div>
</modal>
