<section>
  <div>
    <h1>ACTIVITIES LIST</h1>

    <table id="activitiesTable">
      <tr>
        <th>NAME</th>
        <th>CATEGORY</th>
        <th>PRICE</th>
        <th>LANGUAGE</th>
        <th>DATE</th>
        <th>ACTIONS</th>
      </tr>
      <tr *ngFor="let activity of activities">
        <td>{{ activity.name }}</td>
        <td>{{ activity.category }}</td>
        <td>{{ activity.price }}</td>
        <td>{{ activity.language }}</td>
        <td>{{ activity.date | date: "dd-MM-yyyy" }}</td>
        <td>
          <a
            (click)="actions(activity.id)"
            style="color: var(--foscuro-color); cursor: pointer"
            ><svg
              width="1.2em"
              height="1.2em"
              viewBox="0 0 16 16"
              class="bi bi-arrow-right-circle-fill"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"
              />
            </svg>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <app-activity-details
    [activity]="activity"
    [currentUser]="currentUser"
  ></app-activity-details>
</section>
