<header>
  <div>
    <a id="logoHeader" routerLink="/" title="Inicio"
      ><img
        class="logo"
        src="../assets/logo.png"
        alt="BCN Tourism"
        title="BCN Tourism"
    /></a>
  </div>
  <div>
    <nav>
      <ul class="menu">
        <li>
          <a *ngIf="!currentUser" routerLink="/login" title="Login">SIGN IN</a>
        </li>
        <li>
          <a *ngIf="!currentUser" routerLink="/register" title="Join now"
            >JOIN NOW</a
          >
        </li>
        <li>
          <a *ngIf="currentUser" routerLink="/" title="HOME">HOME</a>
        </li>
        <li>
          <a
            *ngIf="user.isCompany() && currentUser"
            routerLink="/admin"
            title="ADMIN"
            >ADMIN</a
          >
        </li>
        <li>
          <a
            *ngIf="user.isTourist() && currentUser"
            routerLink="/favourites"
            title="FAVOURITES"
            >FAVOURITES</a
          >
        </li>
        <li>
          <a
            *ngIf="user.isTourist() && currentUser"
            routerLink="/my-activities"
            title="MY ACTIVITIES"
            >MY ACTIVITIES</a
          >
        </li>
        <li>
          <a *ngIf="currentUser" routerLink="/profile-page" title="PROFILE"
            >PROFILE</a
          >
        </li>
        <li>
          <a id="logout" *ngIf="currentUser" (click)="logout()" title="Logout"
            >LOGOUT</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="copyright">
    <p>
      © 2019-2020 Núria Cruz Sanchez. Trabajo realizado para la asignatura
      Desarrollo Front-End Avanzado.
    </p>
  </div>
</footer>
